a.got-menu {
  background-color: rgb(15, 15, 19);
  box-sizing: border-box;
  float: left;
  width: 25%;
}

body {
  background: black;
  color: white;
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

body header {
  font-size: 100px;
}


.menuButton {
  background-color: rgb(68, 68, 70);
  border: 2px solid black;
  border-radius: 6px;
  box-sizing: border-box;
  float: left;
  font-family: 'Cinzel';
  font-size: 30px;
  color: white;
  outline-color: rgba(8, 6, 31, 0.863);
  width: 25%;
}

a.got-menu:hover {
  color: rgb(100, 100, 100);
}

button.menuButton:hover {
  opacity: 0.6;
}

img.wwPic {
  border: 3px solid black;
  border-radius: 20px;
  display: block;
  height: 50%;
  margin: auto;
  position: relative;
  top: 50px;
  width: 50%;

}